{% extends "zerver/portico_signup.html" %}
{# Home page for not logged-in users. #}

{# This is where we pitch the app and solicit signups. #}

{% block portico_content %}
<script type="text/javascript">
$(function () {
    autofocus('#email');
});
</script>
<div class="app register-page">
    <div class="app-main register-page-container">
        <div class="center-container">
            <div class="center-block">
                <div class="register-form new-style">
                    <div class="lead">
                        <h1 class="get-started">{{ _("Let's get started") }}…</h1>
                    </div>
                    <form class="form-inline" id="send_confirm" name="email_form"
                          action="{{ current_url() }}" method="post">
                          {{ csrf_input }}

                          <div class="input-box">
                              <input type="text" id="email" class="email" name="email" value="" required>
                              <label>Work email</label>
                              <div class="required"></div>
                              <div class="valid">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 320 370">
                                      <g>
                                          <title>Layer 1</title>
                                          <g id="layer1">
                                              <path fill="#54b8a7" fill-rule="evenodd" stroke-width="0.25pt" d="m20,200l100,90l180,-180l-35,-35l-145,145l-60,-60l-40,40z"/>
                                          </g>
                                      </g>
                                  </svg>
                              </div>
                          </div>

                          <button type="submit" class="draw" name="">{{ _('Sign up') }}</button>
                    </form>

                    <div id="errors"></div>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <div class="alert alert-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="alert alert-pitch" id="company-email">{% trans %}Please use your
                        company email address to sign up. Otherwise, we won’t be able to
                    connect you with your coworkers.{% endtrans %}</div>
                    {% if google_auth_enabled %}
                    <div class="register-google">
                        <a href="{{ url('zerver.views.auth.start_google_oauth2') }}" class="zocial google register-google-button">{{ _("Sign up with Google") }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-padder"></div>
</div>

<script type="text/javascript">
if (window.location.hash.substring(0, 1) === "#") {
    document.email_form.action += window.location.hash;
}

/*
let submit = () => {
    $.ajax({
        type: "POST",
        url: "{{ current_url() }}",
        data: $('#send_confirm').serialize(),
        success: function (response) {
            console.log(response);
        },
        error: function (response) {
            console.log(response);
        }
    });
};
*/
</script>
{% endblock %}
