{% extends "zerver/portico.html" %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% stylesheet 'portico' %}
{% stylesheet 'landing-page' %}
{{ minified_js('landing-page')|safe }}
<style>
html {
    background: rgb(32, 39, 51);
}
</style>

{% endblock %}

{% block portico_content %}

{% include 'zerver/landing_nav_blue.html' %}
<div class="portico-landing hello show">
    <div class="hero">
        <div class="waves">
            <div class="wave dark-blue"></div>
            <div class="wave light-blue"></div>
            <div class="wave light-green"></div>
        </div>

        <div class="content">
            <header>
                <h1>Workplace chat, organized.</h1>
                <p>
                    Zulip&rsquo;s unique threading model organizes your chat messages into conversations. Lots of conversations at once, spread across many days? No problem. With Zulip, you read exactly what matters to you.
                </p>
                <button class="download-button" type="button" name="button">Join the beta</button>
                <!-- we want this to be il-block so we'll put a <br> above so it's on
                     the next line.
                <a id="see_all_apps" class="arrow">See all apps</a>
                -->
            </header>
        </div>
    </div>

    <div class="screen hero-screen">
        <div class="main-page">
            <div class="left-sidebar col-4">
                <div class="action-block">
                    <div class="line med"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line med"></div>
                </div>
                <div class="action-block">
                    <div class="line small red"></div>
                    <div class="sub-block">
                        <div class="line small"></div>
                        <div class="line"></div>
                        <div class="line med"></div>
                        <div class="line med"></div>
                    </div>
                    <div class="line blue"></div>
                    <div class="sub-block">
                        <div class="line small"></div>
                        <div class="line"></div>
                        <div class="line small"></div>
                    </div>
                    <div class="line green"></div>
                    <div class="sub-block">
                        <div class="line"></div>
                        <div class="line med"></div>
                        <div class="line small"></div>
                        <div class="line med"></div>
                        <div class="line"></div>
                    </div>
                    <div class="line med orange"></div>
                    <div class="sub-block">
                        <div class="line med"></div>
                    </div>
                </div>
            </div>
            <div class="center-page col-2">
                <div class="message-feed">
                    <div class="stream">
                        <div class="line micro red"></div>
                        <div class="line nano"></div>

                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line"></div>
                                <div class="line"></div>
                                <div class="line med"></div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line med"></div>
                                <div class="line small"></div>
                            </div>
                        </div>
                    </div>
                    <div class="stream">
                        <div class="line micro green"></div>
                        <div class="line nano"></div>

                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line"></div>
                                <div class="line small"></div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line"></div>
                                <div class="line small"></div>
                                <div class="line med"></div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line med"></div>
                            </div>
                        </div>
                    </div>
                    <div class="stream">
                        <div class="line micro blue"></div>
                        <div class="line nano"></div>

                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line med"></div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line med"></div>
                                <div class="line small"></div>
                                <div class="line small"></div>
                            </div>
                        </div>
                    </div>
                    <div class="stream">
                        <div class="line micro green"></div>
                        <div class="line nano"></div>

                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line"></div>
                                <div class="line small"></div>
                                <div class="line med"></div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line"></div>
                                <div class="line small"></div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="top">
                                <div class="avatar"></div>
                                <div class="line top-line"></div>
                            </div>
                            <div class="content">
                                <div class="line med"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-sidebar col-4">
                <div class="action-block">
                    <div class="line small darker"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line med"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line med"></div>
                    <div class="line med"></div>
                    <div class="line"></div>
                    <div class="line med"></div>
                    <div class="line med"></div>
                    <div class="line"></div>
                </div>

                <div class="action-block">
                    <div class="line small darker"></div>
                    <div class="line"></div>
                    <div class="line med"></div>
                    <div class="line"></div>
                    <div class="line med"></div>
                    <div class="line med"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <header>

        </header>
        <div class="content">
            <div class="col-3">
                <div class="il-block">
                    <h2>Organized</h2>
                    <p>
                        Lorem ipsum delor sit amet. Alabama alaska arizona arkansas california colorado connecticut delaware florida georia hawaii iowa.
                    </p>
                    <p>Illinois indiana iowa kansas kentucky louisiana, maine maryland massachusetts michigan minisota missippi missouri montana nebraska. Nevada. New Hampshire new jersey new mexico new york.
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="il-block">
                    <h2>Fully Featured</h2>
                    <p>
                        Lorem ipsum delor sit amet. Alabama alaska arizona arkansas california colorado connecticut delaware florida georia hawaii iowa.
                    </p>
                    <p>Illinois indiana iowa kansas kentucky louisiana, maine maryland massachusetts michigan minisota missippi missouri montana nebraska. Nevada. New Hampshire new jersey new mexico new york.
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="il-block">
                    <h2>Open Source</h2>
                    <p>
                        Lorem ipsum delor sit amet. Alabama alaska arizona arkansas california colorado connecticut delaware florida georia hawaii iowa.
                    </p>
                    <p>Illinois indiana iowa kansas kentucky louisiana, maine maryland massachusetts michigan minisota missippi missouri montana nebraska. Nevada. New Hampshire new jersey new mexico new york.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="apps">
        <div class="left-side">
            <div class="content">
                <header>
                    <h1>Apps for every platform</h1>
                </header>
                <p>
                    Lorem ipsum delor sit amet. Alabama alaska arizona arkansas california colorado connecticut delaware florida georia hawaii iowa. Illinois indiana iowa kansas kentucky louisiana, maine maryland massachusetts.
                </p>
                <br />
                <!-- we want this to be il-block so we'll put a <br> above so it's on
                     the next line. -->
                <a class="arrow">Learn more</a>
            </div>

            <div class="platform-icons">
                <div class="group">
                    <h2>Web</h2>
                    <i class="icon-vector-desktop platform-icon"></i>
                </div>
                <div class="group">
                    <h2>Desktop</h2>
                    <i class="icon-vector-apple platform-icon"></i>
                    <i class="icon-vector-windows platform-icon"></i>
                    <i class="icon-vector-linux platform-icon"></i>
                </div>
                <div class="group">
                    <h2>Mobile</h2>
                    <i class="icon-vector-mobile-phone platform-icon"></i>
                    <i class="icon-vector-android platform-icon"></i>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="screen ios">
                <div class="main-page">
                    <div class="navbar"></div>
                    <div class="center-page">
                        <div class="message-feed">
                            <div class="stream">
                                <div class="line micro red"></div>
                                <div class="line nano"></div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line med"></div>
                                    </div>
                                </div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line med"></div>
                                        <div class="line"></div>
                                        <div class="line small"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="stream">
                                <div class="line micro blue"></div>
                                <div class="line nano"></div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line med"></div>
                                        <div class="line med"></div>
                                        <div class="line small"></div>
                                    </div>
                                </div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="screen android">
                <div class="main-page">
                    <div class="navbar"></div>
                    <div class="center-page">
                        <div class="message-feed">
                            <div class="stream">
                                <div class="line micro red"></div>
                                <div class="line nano"></div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line med"></div>
                                    </div>
                                </div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line med"></div>
                                        <div class="line"></div>
                                        <div class="line small"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="stream">
                                <div class="line micro blue"></div>
                                <div class="line nano"></div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line med"></div>
                                        <div class="line med"></div>
                                        <div class="line small"></div>
                                    </div>
                                </div>

                                <div class="message">
                                    <div class="top">
                                        <div class="avatar"></div>
                                        <div class="line top-line"></div>
                                    </div>
                                    <div class="content">
                                        <div class="line"></div>
                                        <div class="line"></div>
                                        <div class="line small"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonials">
        <div class="padded-content">
            <div class="quote-container">
                <blockquote>
                    Lorem ipsum delor sit amet. Alabama alaska arizona arkansas california colorado connecticut delaware florida georia hawaii iowa. Illinois indiana iowa kansas kentucky louisiana, maine maryland massachusetts michigan minisota missippi missouri montana nebraska. Nevada. New Hampshire new jersey new mexico new york.
                </blockquote>
                <cite>Akamai – over 2000 active users</cite>
            </div>

            <hr />

            <div class="company-container">
                <header>
                    <h2 class="float left">Some of our customers</h2>
                    <div class="float clear"></div>
                </header>
                <div class="company-box">
                    <div class="company akamai"></div>
                    <div class="company doctorondemand"></div>
                    <div class="company levelup"></div>
                    <div class="company recurse"></div>
                    <div class="company panjiva"></div>
                    <div class="company layershift"></div>
                    <div class="company solano"></div>
                    <div class="company veelo"></div>
                    <div class="company cmt"></div>
                </div>
            </div>
        </div>
        <div class="padded-content call-to-action-bottom">
            <h1>Sign up for our beta now.</h1>
            <button type="button" name="button">Sign up</button>
            <div class="zulip-octopus"></div>
        </div>
    </div>
</div>
{% endblock %}
