{% extends "zerver/portico.html" %}

{# Login page. #}

{% block customhead %}
    {{ super() }}
    {{ minified_js('signup')|safe }}
{% endblock %}

{% block os_announcement %}
  {% if show_oss_announcement %}
  <div class="os-headline-container">
    <img src="/static/images/logo/zballoon.png" class="os-illustration" alt="Zulip balloon" />
    <div class="main-headline-text">
      <span class="tagline os-tagline">
         {{ _('Zulip has been released as open source software!') }}
      </span>
      {% trans %}
      <span class="footnote os-footnote">
         Read the <a href="https://blogs.dropbox.com/tech/2015/09/open-sourcing-zulip-a-dropbox-hack-week-project" target="_blank">announcement</a> or go to <a href="https://www.zulip.org" target="_blank">the Zulip open source project website</a>.
      </span>
      {% endtrans %}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block portico_content %}

{% if password_auth_enabled %}
<script type="text/javascript">
{% if email %}
autofocus('#id_password');
{% else %}
autofocus('#id_username');
{% endif %}
</script>
{% endif %}


<div class="app login-page new-style flex">
  <div class="app-main login-page-container inline-block">

    {% if dev_auth_enabled %}
    <h3 class="login-page-header">{{ _('Development login') }}</h3>
    {% if not password_auth_enabled %}
    <h4 class="login-page-subheader">Click on a user to log in!</h4>
    {% endif %}
    {% else %}
    <h3 class="login-page-header">{{ _('You look familiar.') }}</h3>

{% if only_sso %}
    {# SSO users don't have a password. #}

    <div class="login-sso">
      <a href="/accounts/login/sso" class="btn btn-large btn-primary">{{ _('Sign in with SSO') }}</a>
    </div>
    <div class="app-main login-page-container inline-block">
        <div class="left-side">
            <div class="header">
                <div class="avatar"></div>
                <div class="info-box">
                    <div class="organization-name">Recurse Center</div>
                    <div class="organization-path">recurse.zulipchat.com</div>
                </div>
            </div>
            <div class="description">
                Pitch deck iterate prototype entrepreneur pivot big data food-truck parallax pivot thought leader driven integrate quantitative vs. qualitative. Actionable insight pivot ship it experiential long shadow prototype pivot paradigm.
            </div>
        </div>

        <div class="right-side">

            {% if subdomain %}
            <div class="alert">
                {{ wrong_subdomain_error }}.
            </div>
            {% endif %}

                {% if password_auth_enabled %}
                <form name="login_form" id="login_form" method="post" class="login-form"
                      action="{{ url('django.contrib.auth.views.login') }}?next={{ next }}">
                    {{ csrf_input }}
                    <div class="input-box">
                      <input id="id_username" type="email" name="username"
                             class="email required"
                             {% if email %}
                             value="{{ email }}"
                             {% else %}
                             value=""
                             {% endif %}
                             maxlength="72" required />
                         <label for="id_username">{{ _('Email') }}</label>
                         <div class="required"></div>
                         <img class="valid" src="/static/images/checkbox-valid.svg" />
                    </div>

                    <div class="input-box">
                        <input id="id_password" name="password" class="required" type="password" required />
                        <label for="id_password" class="control-label">{{ _('Password') }}</label>
                        <div class="required"></div>
                        <img class="valid" src="/static/images/checkbox-valid.svg" />
                    </div>

                </form>
                {% endif %}
                {% if dev_auth_enabled %}
                <form name="direct_login_form" id="direct_login_form" method="post" class="login-form"
                      action="{{ url('zerver.views.auth.dev_direct_login') }}">
                    {{ csrf_input }}
                    <div class="control-group">
                        {% if password_auth_enabled %}
                        <label for="direct_email" class="direct-label">{{ _('or Choose a user') }}:</label>
                        {% endif %}
                        <div class="controls">
                            <label>({{ _('Administrators') }})</label>
                            {% for user_email in direct_admins %}
                            <button type="submit" name="direct_email" class="btn-direct btn-admin" value="{{ user_email }}" />
                                {{ user_email }}
                            </button>
                            {% endfor %}

                            <label>({{ _('Normal users') }})</label>
                            {% for user_email in direct_users %}
                            <p><input type="submit" name="direct_email" class="btn-direct btn-user" value="{{ user_email }}" /></p>
                            {% endfor %}

                            <label>({{ _('Community users') }})</label>
                            {% for user_email in community_users %}
                            <p><input type="submit" name="direct_email" class="btn-direct btn-user" value="{{ user_email }}" /></p>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                {% endif %}

            <div class="or">or</div>
            {% if google_auth_enabled %}
            <div class="login-google">
                <a href="href="{{ url('zerver.views.auth.start_google_oauth2') }}"">
                    <button class="login-google-button draw">{{ _('Sign in with Google') }}</button>
                </a>
            </div>
            {% endif %}

            <div class="login-github">
                <a href="{{ url('login-social', args=('github',)) }}" class="github-wrapper">
                    <button class="login-github-button draw github">
                        <span>{{ _('Sign in with GitHub') }}</span>
                    </button>
                </a>
            </div>

            <div class="actions">
                <a class="forgot-password" href="#">Forgot your password?</a>
            </div>

            {% endif %}
        </div>
    </div>
<div class="footer-padder"></div>
</div>
<script type="text/javascript">
if (window.location.hash.substring(0, 1) === "#") {
    document.login_form.action += window.location.hash;
}
</script>

{% endblock %}
