<div id="user-groups-admin" class="settings-section" data-name="user-groups-admin">
    <h3 class="light">{{t "User Groups" }}</h3>

    <div class="user-groups">
        <div class="user-group">
            <h4>Backend</h4>
            <div class="pill-container" data-group-pills="Backend">
                <div class="input" contenteditable="true"></div>
            </div>
        </div>

        <div class="user-group">
            <h4>Frontend</h4>
            <div class="pill-container" data-group-pills="Frontend">
                <div class="input" contenteditable="true"></div>
            </div>
        </div>

        <div class="user-group">
            <h4>API</h4>
            <div class="pill-container" data-group-pills="API">
                <div class="input" contenteditable="true"></div>
            </div>
        </div>
    </div>
</div>
